#dropbox {
  text-align: center;
  padding-bottom: 30px;
  margin: 30px;
  margin-top: 0px;
}

#splash {
  height: auto;
  padding-bottom: 20px;
}
#file-list {
  text-align: left;
  min-width: 600px;
  margin: 0 auto;
  padding: 32px;
  padding-top: 0px;
  font-size: 16px;
  line-height: 40px;
}

.file-header {
  color: hsl(240, 100%, 90%);
  font-weight: normal;
  cursor: default;
}

#size-header {
  width: 4.5em;
  text-align: left;
}

.file-row-size {
  text-align: right;
}


#file-input {
  display: none;
}


#key-entry-container {
  width: 550px;
  margin: 0 auto;
  height: 40px;
  padding: 1em;
}

#key-entry, #status-text {
  font-size: 16px;
  float: left;
  height: 36px;
  width: 400px;
  border: none;
}

#status-text {
  display: none;
  padding-top: 8px;
  padding-bottom: -8px;
  text-align: left;
}

#key-entry {
  border-bottom: 2px solid #f0f0ff; /*#70707f;*/
}

#upload-button, #view-button {
  font-size: 16px;
  float: right;
  height: 40px;
  border-radius: 0px;;
  border-width: 0px;
}


body, html {
  height: 100%;
}
#vertical-buffer {
}

#prompt {
  font-size: 16px;
  cursor: default;
}
