body {
  color: #27343D;
  margin: 0px;
  padding: 0px;
  min-width: 760px;
  font-family: "Roboto", sans-serif;
}

#container {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}
#header {
  width: 760px;
  padding: 0px;
  margin: 0px auto;
  height: 3.5em;
  line-height: 3.5em;
  border-bottom: 3px solid #f0f0ff;
}

#title {
  font-weight: normal;
  text-align: center;
  font-size: 28px;
  margin: 0px;
}

#splash {
  margin: 0px auto;
  width: 760px;
  height: 400px;
}

#tagline-container {
  margin-top: 24px;
  margin-bottom: -24px;
  float: left;
}

.tagline {
  font-size: 30px;
}

.border-button {
  border: 0px solid #27343D;
  border-radius: 0px;
  cursor: pointer;
}

.tagline-button {
  width: 100%;
  height: 2em;
  background: #a1d8ff;
}

.tagline-button:hover {
  background: hsl(204.9,100%,90%);
}

#safe-container {
  margin-right: -25px;
  margin-left: 25px;
  float: right;
}

#information-container {
  width: 760px;
  margin: 0 auto;
  border-top: 3px solid #f0f0ff;
}

#information {
  margin: 0px auto;
  padding: 0px;
  width: 760px;
}

.info {
  width: 360px;
  padding: 10px;
  margin: 0px;
}

#why {
  float: left;
}

#how {
  float: right;
}

.attribution {
  clear: both;
  text-align: center;
  width: 100%;
  font-size: 10px;
}

.attribution-standalone {
  margin: 0px auto;
  padding: 3px 0;
  margin-top: -33px;
  border-top: 3px solid #f0f0ff;

  width: 760px;
  height: 24px;
  line-height: 24px;
}



a,
a:visited {
  text-decoration: underline;
  color: #27343D;
}
a:hover {
  color: #a1d8ff;
}

#path-container {
  text-align: center;
}

.path {
  color: #777;
}
